.App {
  text-align: center;
}


.App-header {
  background-color: #42A071;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}
.login{
  background-color: rgb(72, 75, 85);
  border-radius: 5%;
  color:white;
  font-family: 'Bebas';
}
.identificarse{
  background-color: rgb(72, 75, 85);
  border-radius: 5%;
  color:white;
  font-family: 'Bebas';
}
@font-face {
  font-family:'Bebas';
  src: url("BebasNeue-Regular.ttf");
}
.formulario{
  background-color: #2D4037;
  color:white;
  font-family: 'Bebas';
  height: 50%;
  letter-spacing: 5px;
  display: flex;
  margin-right: 15%;
}
.chat{
  background-image:url("fondo.jpg");
  color: black;
  letter-spacing: 5px;
  display: flow-root;
  overflow:scroll; 
  height: 800px;
  width: 700px;
}
.responder{
  display:flex;

}
.enviar{
  height: 4%;
  width: 4.5%;
  margin-left: 2%;
}
.salir{
  height: 5%;
  width: 5%;
  margin-right: 30%;
}
.mensaje{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background: grey;
  margin: 0 0 25px;
  padding: 7px;
}
.usuario{
  margin-right: 90%;
  display: flex;
}
.message{
justify-content: end;
display: flex;
}
.message p{
  background-color:#545250 ;
  color: whitesmoke;
  border-radius: 5px;
}
.message2{
  justify-content: start;
display: flex;
}
.message2 p{
  background-color:brown ;
  color: whitesmoke;
  border-radius: 5px;
}
